@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url(../../../temple/fonts/helveticaneuecyr_roman.otf) format('truetype');
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url(../../../temple/fonts/helveticaneuecyr_thin.otf) format('truetype');
  font-weight: 200;
}
