@font-face {
  font-family: "HelveticaNeueCyr";
  src: url(/public/temple/fonts/helveticaneuecyr_roman.otf) format("truetype");
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url(/public/temple/fonts/helveticaneuecyr_thin.otf) format("truetype");
  font-weight: 200;
}

@import url(/public/temple/fonts/Montserrat/stylesheet.css);
