@import "../utils/variables.scss";

.simular {
  margin-top: 30px;

  &__container {
    position: relative;
  }

  .simular-prev,
  .simular-next {
    display: inline;
    padding: 11px 16px;
    background-color: $acent;
    position: absolute;
    border-radius: 50%;
    transform: translateY(50%, -50%);
    top: 50%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @media (max-width: 1400px) {
      // display: none;
    }
  }

  .simular-prev {
    left: 10px;
    @media (max-width: 1400px) {
      left: 18px;
    }
  }

  .simular-next {
    right: 10px;
    @media (max-width: 1400px) {
      right: 18px;
    }
  }
}
