@import "../utils/variables.scss";

.cards {
  margin-top: 50px;
  @media (max-width: 500px) {
    margin-top: 30px;
  }
  &__container {
  }

  &__cards {
    margin-top: 25px;
    display: flex;
    gap: 30px;
    // justify-content: center;
    // flex-wrap: wrap;
    overflow: auto;
  }

  &__card {
    min-width: 446px;
    height: 446px;
    background: url(/public/temple/images/icons/cards-bg.png) no-repeat;
    border-radius: 16px;
    object-fit: cover;
    color: #171717;
    padding: 25px 32px 43px 25px;
    display: flex;
    // justify-content: center;
    flex-direction: column;

    h1 {
      font-size: 38px;
      font-weight: 700;
      line-height: 45.6px;
    }
    h4 {
      font-size: 18px;
      font-weight: 400;
      line-height: 21.6px;
    }

    @media (max-width: 550px) {
      padding: 25px;
      // width: 100%;
      // height: 100%;
      min-width: 300px;
      // max-height: 350px;
      height: auto;

      h1 {
        font-size: 30px;
      }
      h4 {
        font-size: 15px;
        line-height: 18px;
      }
    }
    @media (max-width: 400px) {
      padding: 10px;
    }

    .card__img {
      align-self: center;
      margin-top: auto;

      @media (max-width: 550px) {
        width: 100px;
      }
      @media (max-width: 400px) {
        width: 70px;
        // margin-top: 30px;
        margin-bottom: 10px;
      }
    }
  }
}
.title {
}
