@import '../utils/variables.scss';

.company {
  margin-top: 80px;
  color: #fff;

  @media (max-width: 600px) {
    margin-top: 50px;
  }
  &__info {
    background: url(../../../temple/images/landing/services/work-bg.png) center;
    border-radius: 26px;
    padding-top: 76px;
    height: 351px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 800px) {
      height: 300px;
      padding: 76px 5px 0;
    }
    @media (max-width: 460px) {
      height: 280px;
    }

    h3 {
      font-family: Montserrat;
      font-size: 28px;
      font-weight: 600;
      line-height: 34.13px;
      text-align: center;
      @media (max-width: 1100px) {
        font-size: 20px;
      }
      @media (max-width: 800px) {
        font-size: 15px;
      }
      @media (max-width: 570px) {
        font-size: 13px;
      }
      @media (max-width: 450px) {
        line-height: 13px;
        margin-top: 8px;
      }
    }

    h1 {
      font-family: Montserrat;
      font-size: 38px;
      font-weight: 800;
      line-height: 46.32px;
      text-align: center;

      @media (max-width: 1100px) {
        font-size: 28px;
      }
      @media (max-width: 800px) {
        font-size: 20px;
      }
      @media (max-width: 570px) {
        font-size: 16px;
      }
      @media (max-width: 460px) {
        font-size: 13px;
        line-height: 13px;
      }
    }

    img {
      margin-top: 11px;
    }

    a {
      color: #fff;
      margin-top: 30px;
      border-radius: 8px;
      padding: 12px 31px;
      letter-spacing: 0.2px;
      background: $acent;
      @media (max-width: 570px) {
        margin-top: 15px;
      }
    }

    p {
      color: $acent;
      font-size: 14px;
      font-weight: 400;
      margin-top: 18px;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
