@import '../utils/variables.scss';

.type {
  &__car {
    border: 1px solid transparent;

    &:hover {
      border: 1px solid #e4ddd5;
      background: #fff;
    }

    padding: 20px 26px 24px;

    img {
      margin-bottom: 25px;
      width: 200px;
      @media (max-width: 800px) {
        max-width: 200px !important;
      }
    }

    h3 {
      font-weight: 550;
      font-size: 24px;
      text-transform: uppercase;
    }

    p {
      margin-top: 22px;
      font-size: 18px;
      font-weight: 400;
    }
  }
}
