@import "../utils/variables.scss";

.whyus {
  margin-top: 50px;
  @media (max-width: 550px) {
    margin-top: 30px;
  }

  &__container {
  }

  &__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 27.86px;

    @media (max-width: 530px) {
      font-size: 20px;
      text-align: center;
    }
    @media (max-width: 460px) {
      font-size: 16px;
    }
  }

  &__cards {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    column-gap: 20px;
    @media (max-width: 1100px) {
      grid-template-columns: repeat(1, 1fr);
    }
    @media (max-width: 600px) {
      row-gap: 20px;
    }
  }

  &__card {
    display: flex;
    gap: 30px;
    @media (max-width: 500px) {
      gap: 10px;
    }
    @media (max-width: 400px) {
      gap: 7px;
    }
  }
}

.number-card {
  margin-top: 40px;
  color: #fff;
  background-color: $acent;
  display: inline-block;
  min-width: 45px;
  min-height: 45px;
  max-width: 45px;
  max-height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 29.85px;
  @media (max-width: 450px) {
    min-width: 35px;
    min-height: 35px;
    max-width: 35px;
    max-height: 35px;
    font-size: 20px;
  }
}
.card {
  &__info {
    h1 {
      font-size: 24px;
      font-weight: 700;
      line-height: 23.88px;
      @media (max-width: 600px) {
        font-size: 18px;
      }
      @media (max-width: 450px) {
        font-size: 16px;
        line-height: 18px;
      }
    }
    h4 {
      margin-top: 15px;
      font-size: 18px;
      font-weight: 400;
      line-height: 21.6px;
      max-width: 552px;
      @media (max-width: 600px) {
        font-size: 15px;
        margin-top: 8px;
      }
      @media (max-width: 450px) {
        font-size: 14px;
        margin-top: 4px;
        line-height: 16px;
      }
    }
  }
}

.title__line {
  height: 20px;
  width: 3px;
  background-color: $acent;
  margin-right: 3px;
  display: inline-block;

  @media (max-width: 530px) {
    height: 18px;
  }

  @media (max-width: 460px) {
    height: 12px;
  }
}
